.contact {
    max-width: 500px;
    margin: 0 auto;
    padding: 10px;
    background-color: #4f5553;
    border-radius: 8px;
    color: white;
    margin-top: 30px;
    
  }
  .contact .outer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .contact .outer .label-text {
    padding: 0px;
    width: 20%;
    /* margin-bottom: 10px; */
    font-size: 1.2rem;
  }
  @media (max-width: 500px) {
    .contact .outer .label-text {
      font-size: 1.4rem;
      width: 40%;
    }
  }
  .contact .outer .input-text {
    padding: 10px;
    width: 70%;
    /* margin-bottom: 10px; */
  }
  @media (max-width: 500px) {
    .contact .outer .input-text {
      padding: 0;
      width: 60%;
      margin-bottom: 0px;
    }
  }
  .contact .outer .input-text input {
    width: 100%;
    height: 30px;
  }
 
  .contact .outer .submitbtn {
    border: solid white 1px;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    margin-left: 50%;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 10px;
  }
  @media (max-width: 500px) {
    .contact {
      margin-top: 5px;
    }
  }
  