.Friends table {
  margin: 0 auto;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* border: solid red 1px; */
  width: 60%;
  border: solid black 1px;
  margin-top: 25px;
}

.Friends table th {
  /* border: solid red 1px; */
  margin-left: 25px;
  padding-left: 40px;
  width: 60px;
  color: red;
}

.Friend table {
  margin: 0 auto;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* border: solid black 1px; */
  width: 60%;
}

.Friend table td {
  /* border: solid red 1px; */
  margin-left: 25px;
  padding-left: 40px;
  width: 60px;
}

.Editbtn
 {
  margin-left: 20px;
  margin-right: 20px; background-color: green;
  color: white;
  width: 90px
}


